{
  "printWidth": 80,
  "tabWidth": 2,
  "proseWrap": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
